.mySkills {
    display:flex;
    width:100%;
    height:550px;
    margin-top:40px;
}



.spacer2 {
    aspect-ratio: 800/350;
    width:100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

.layer2{
    background-image:url('../images/yellow-background.svg')
}