*{
  box-sizing:border-box;
  overflow-x: hidden;
}


.App {
  text-align: center;
  box-sizing: border-box;
}



html {
  height: 100%;
  margin: auto;
  width: 100%;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.imgContainer {
  display:flex;
  height:80%;
  justify-content:space-between;
  align-items: center;
  margin:20px;
  
}


.descContainer{
  box-sizing: border-box;
  display:flex;
  width:100%;
  flex-direction: row;
}